<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!-- /* Font Definitions */
@font-face {
  font-family: Wingdings;
  panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
  font-family: "Cambria Math";
  panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
  font-family: Calibri;
  panose-1: 2 15 5 2 2 2 4 3 2 4;
}

@font-face {
  font-family: Tahoma;
  panose-1: 2 11 6 4 3 5 4 4 2 4;
}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 10.0pt;
  margin-left: 0cm;
  line-height: 115%;
  font-size: 11.0pt;
  font-family: "Calibri", "sans-serif";
}

h1 {
  mso-style-link: "Heading 1 Char";
  margin-top: 24.0pt;
  margin-right: 0cm;
  margin-bottom: 0cm;
  margin-left: 0cm;
  margin-bottom: .0001pt;
  line-height: 115%;
  page-break-after: avoid;
  font-size: 14.0pt;
  font-family: "Cambria", "serif";
  color: #365F91;
  font-weight: bold;
}

h2 {
  mso-style-link: "Heading 2 Char";
  margin-right: 0cm;
  margin-left: 0cm;
  font-size: 18.0pt;
  font-family: "Fira Sans", "serif";
  font-weight: bold;
}

a, span.MsoHyperlink {
  text-decoration: none;
  text-color: black;
}

p {
  margin-right: 0cm;
  margin-left: 0cm;
  font-size: 12.0pt;
  font-family: "Fira Sans", "serif";
}

code {
  font-family: "Courier New";
}

p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
  mso-style-link: "Balloon Text Char";
  margin: 0cm;
  margin-bottom: .0001pt;
  font-size: 8.0pt;
  font-family: "Tahoma", "sans-serif";
}

p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 10.0pt;
  margin-left: 36.0pt;
  line-height: 115%;
  font-size: 11.0pt;
  font-family: "Calibri", "sans-serif";
}

p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
  {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 0cm;
  margin-left: 36.0pt;
  margin-bottom: .0001pt;
  line-height: 115%;
  font-size: 11.0pt;
  font-family: "Calibri", "sans-serif";
}

p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
  {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 0cm;
  margin-left: 36.0pt;
  margin-bottom: .0001pt;
  line-height: 115%;
  font-size: 11.0pt;
  font-family: "Calibri", "sans-serif";
}

p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
  {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 10.0pt;
  margin-left: 36.0pt;
  line-height: 115%;
  font-size: 11.0pt;
  font-family: "Calibri", "sans-serif";
}

span.BalloonTextChar {
  mso-style-name: "Balloon Text Char";
  mso-style-link: "Balloon Text";
  font-family: "Tahoma", "sans-serif";
}

span.Heading2Char {
  mso-style-name: "Heading 2 Char";
  mso-style-link: "Heading 2";
  font-family: "Fira Sans", "serif";
  font-weight: bold;
}

span.Heading1Char {
  mso-style-name: "Heading 1 Char";
  mso-style-link: "Heading 1";
  font-family: "Cambria", "serif";
  color: #365F91;
  font-weight: bold;
}

.MsoChpDefault {
  font-family: "Calibri", "sans-serif";
}

.MsoPapDefault {
  margin-bottom: 10.0pt;
  line-height: 115%;
}

@page WordSection1 {
  size: 595.3pt 841.9pt;
  margin: 72.0pt 72.0pt 72.0pt 72.0pt;
}

div.WordSection1 {
  page: WordSection1;
}
/* List Definitions */
ol {
  margin-bottom: 0cm;
}

ul {
  margin-bottom: 0cm;
}
-->
</style>

</head>

<body lang=DE-CH link=blue style="width: 95%";>

  <div class=WordSection1 style="width:100%; margin-left: auto; margin-right: auto;">

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=690 style='width: 517.4pt; border-collapse: collapse; border: none'>
      <tr style='height: 6.6pt'>
        <td width=170 colspan=3 rowspan=5
          style='width: 127.55pt; border: solid windowtext 1.0pt; border-right: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 6.6pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <img width=139 height=139 src="cid:logofestivalartdialog">
          </p>
        </td>
        <td width=348 colspan=5 style='width: 261.15pt; border: none; border-top: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 6.6pt'>
          <h2 align=center style='text-align: center'>
            <span style='font-size: 8.0pt'>&nbsp;</span>
          </h2>
        </td>
        <td width=172 colspan=2
          style='width: 128.7pt; border-top: solid windowtext 1.0pt; border-left: none; border-bottom: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 6.6pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <span style='font-size: 8.0pt'>&nbsp;</span>
          </p>
        </td>
        <td style='height: 6.6pt; border: none' width=0 height=9></td>
      </tr>
      <tr style='height: 17.9pt'>
        <td width=348 colspan=5 rowspan=2 valign=top style='width: 261.15pt; border: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.9pt'>
          <h2>
            <span style='font-size: 24.0pt'>{{breaklines pass.eventInfo.location.place}}</span>
          </h2>
        </td>
        <td width=172 colspan=2 valign=top
          style='width: 128.7pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.9pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <b><span style='font-size: 18.0pt; font-family: "Fira Sans", "serif"'>{{formatDate pass.eventInfo.beginAt day="numeric" month="long" year="numeric"}}</span></b>
          </p>
        </td>
        <td style='height: 17.9pt; border: none' width=0 height=24></td>
      </tr>
      <tr style='height: 18.9pt'>
        <td width=172 colspan=2 valign=top
          style='width: 128.7pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 18.9pt'>
          <h2 align=center style='text-align: center'>{{formatTime pass.eventInfo.beginAt hour="2-digit" minute="2-digit"}}</h2>
        </td>
        <td style='height: 18.9pt; border: none' width=0 height=25></td>
      </tr>
      <tr style='height: 24.3pt'>
        <td width=520 colspan=7 style='width: 389.85pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 24.3pt'>
          <h2>
            <span style='font-size: 20.0pt'>{{breaklines pass.eventInfo.performance.title}}</span>
          </h2>
        </td>
        <td style='height: 24.3pt; border: none' width=0 height=32></td>
      </tr>
      <tr style='height: 29.25pt'>
        <td width=520 colspan=7
          style='width: 389.85pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 29.25pt'>
          <h2>{{breaklines pass.eventInfo.performance.subtitle}}</h2>
        </td>
        <td style='height: 29.25pt; border: none' width=0 height=39></td>
      </tr>
      <tr style='height: 22.25pt'>
        <td width=482 colspan=6 valign=top
          style='width: 361.5pt; border-top: none; border-left: solid windowtext 1.0pt; border-bottom: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 22.25pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>&nbsp;</p>
        </td>
        <td width=208 colspan=4 valign=top
          style='width: 155.9pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 22.25pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>&nbsp;</p>
        </td>
        <td style='height: 22.25pt; border: none' width=0 height=30></td>
      </tr>
      <tr style='height: 19.15pt'>
        <td width=19 rowspan=5 valign=top
          style='width: 14.05pt; border-top: none; border-left: solid windowtext 1.0pt; border-bottom: solid windowtext 1.0pt; border-right: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 19.15pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 10.0pt'>&nbsp;</span></b>
          </p>
        </td>
        <td width=463 colspan=5 valign=top
          style='width: 347.4pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 19.15pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 10.0pt'>&nbsp;</span></b>
          </p>
        </td>
        <td width=208 colspan=4 rowspan=4 valign=top
          style='width: 155.95pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 19.15pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <a href="{{passTicketUrl}}"><span style='color: windowtext; text-decoration: none'><img border=0 width=198 height=198
                id="Picture 2" src="cid:qrcode"></span></a>
          </p>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <strong><span style='font-size: 12.0pt; font-family: "Calibri", "sans-serif"'>{{pass.id}}</span></strong>
          </p>
        </td>
        <td style='height: 19.15pt; border: none' width=0 height=26></td>
      </tr>
      <tr style='height: 35.25pt'>
        <td width=255 colspan=4 style='width: 191.4pt; border: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.25pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; line-height: normal'>
            <b><span style='font-size: 18.0pt'>Nombre de tickets</span></b>
          </p>
        </td>
        <td width=208 style='width: 156.0pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.25pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <span style='font-size: 18.0pt'><b>{{pass.numberOfTickets}}</b>{{#ifTestSystem}} <span style="color:red;">TEST!</span>{{/ifTestSystem}}</span>
          </p>
        </td>
        <td style='height: 35.25pt; border: none' width=0 height=47></td>
      </tr>
      <tr style='height: 42.6pt'>
        <td width=255 colspan=4 style='width: 191.4pt; border: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 42.6pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 18.0pt'>Prix total</span></b>
          </p>
        </td>
        <td width=208 style='width: 156.0pt; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 42.6pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 18.0pt'>{{pass.totalPrice.currency}} {{pass.totalPrice.value}}</span></b>
          </p>
        </td>
        <td style='height: 42.6pt; border: none' width=0 height=57></td>
      </tr>
      <tr style='height: 63.8pt'>
        <td width=170 colspan=3 rowspan=2
          style='width: 127.6pt; border: none; border-bottom: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 63.8pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 18.0pt'>Location</span></b>
          </p>
        </td>
        <td width=85 rowspan=2 style='width: 63.8pt; border: none; border-bottom: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 63.8pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <a
              href="{{pass.eventInfo.location.mapUrl}}"><b><span
                style='font-size: 18.0pt; color: windowtext; text-decoration: none'><img border=0 width=43 height=72 id="Picture 5" src="cid:mapmark"></span></b></a>
          </p>
        </td>
        <td width=208 rowspan=2
          style='width: 156.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 63.8pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>
            <b><span style='font-size: 16.0pt'>{{breaklines pass.eventInfo.location.address}}<br>{{pass.eventInfo.location.tel}}</span></b>
          </p>
        </td>
        <td style='height: 63.8pt; border: none' width=0 height=85></td>
      </tr>
      <tr style='height: 25.75pt'>
        <td width=208 colspan=4
          style='width: 155.95pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 25.75pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <code>
              <span style='font-size: 9.0pt'>{{pass.paymentTx}}</span>
            </code>
          </p>
        </td>
        <td style='height: 25.75pt; border: none' width=0 height=34></td>
      </tr>
      <tr style='height: 10.95pt'>
        <td width=690 colspan=10 valign=top
          style='width: 517.4pt; border-top: none; border-left: solid windowtext 1.0pt; border-bottom: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 10.95pt'>
          <p class=MsoNormal align=right style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: right; line-height: normal'>&nbsp;</p>
        </td>
        <td style='height: 10.95pt; border: none' width=0 height=15></td>
      </tr>
      <tr style='height: 108.9pt'>
        <td width=31 colspan=2 valign=top
          style='width: 23.15pt; border-top: none; border-left: solid windowtext 1.0pt; border-bottom: solid windowtext 1.0pt; border-right: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 108.9pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>&nbsp;</p>
        </td>
        <td width=633 colspan=7 valign=top
          style='width: 474.75pt; border: none; border-bottom: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 108.9pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal'>
            <span style='font-size: 16.0pt'>A l’entrée du concert, veuillez présenter votre billet électronique sur votre smartphone, votre tablette ou sur papier.
            Vous pouvez consulter le programme de notre festival sur notre <a href="http://festival.artdialog.ch/fr/programm.html" title="le programme">site</a> Internet.</span>
          </p>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: justify; line-height: normal'>
            <span style='font-size: 16.0pt'>Nous vous souhaitons un très beau festival 2016!</span>
          </p>
          <p class=MsoListParagraph align=right
            style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: right; text-indent: -18.0pt; line-height: normal'>
            <span style='font-size: 16.0pt'><i>- L’équipe d’ArtDialog.ch</i></span>
          </p>
        </td>
        <td width=26 valign=top
          style='width: 19.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 108.9pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>&nbsp;</p>
        </td>
        <td style='height: 108.9pt; border: none' width=0 height=145></td>
      </tr>
      <tr style='height: 14.15pt'>
        <td width=690 colspan=10 valign=top
          style='width: 517.4pt; border-top: none; border-left: solid windowtext 1.0pt; border-bottom: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.15pt'>
          <p class=MsoNormal style='margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal'>&nbsp;</p>
        </td>
        <td style='height: 14.15pt; border: none' width=0 height=19></td>
      </tr>
      <tr style='height: 40.3pt'>
        <td width=170 colspan=3 rowspan=2 valign=top
          style='width: 127.55pt; border: none; border-left: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 40.3pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <a href="http://www.artdialog.ch/"><span style='color: windowtext; text-decoration: none'><img border=0 width=101 height=106
                id="Picture 3" src="cid:logoartdialogverein"></span></a>
          </p>
        </td>
        <td width=331 colspan=4 style='width: 248.1pt; border: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 40.3pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <span class=MsoHyperlink><span style='font-size: 14.0pt; color: windowtext; text-decoration: none'>E-mail: </span></span><a
              href="mailto:tickets@artdialog.ch"><span style='font-size: 14.0pt;'>tickets@artdialog.ch</span></a>
          </p>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <code>
              <span style='font-size: 14.0pt; font-family: "Calibri", "sans-serif"'>Tel.: +41 76 365 53 16</span>
            </code>
          </p>
        </td>
        <td width=189 colspan=3 rowspan=2
          style='width: 5.0cm; border: none; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 40.3pt'>
          <p class=MsoNormal align=center style='margin-left: 1.7pt; text-align: center; line-height: normal'>
            <b><span style='font-size: 12.0pt; font-family: "Fira Sans", "serif"'>Association Art Dialog</span></b><span
              style='font-size: 12.0pt; font-family: "Fira Sans", "serif"'><br>rue du Buttenberg 37<br> 2504 Biel/Bienne<br>
              Schweiz</span>
          </p>
        </td>
        <td style='height: 40.3pt; border: none' width=0 height=54></td>
      </tr>
      <tr style='height: 35.2pt'>
        <td width=331 colspan=4 style='width: 248.1pt; border: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 35.2pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <a href="http://festival.artdialog.ch"><span style='font-size: 12.0pt;'>http://festival.artdialog.ch</span></a>
          </p>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>
            <span class=MsoHyperlink><span style='font-size: 12.0pt;'>http://www.artdialog.ch</span></span>
          </p>
        </td>
        <td style='height: 35.2pt; border: none' width=0 height=47></td>
      </tr>
      <tr style='height: 23.05pt'>
        <td width=690 colspan=10 style='width: 517.4pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 23.05pt'>
          <p class=MsoNormal align=center style='margin-bottom: 0cm; margin-bottom: .0001pt; text-align: center; line-height: normal'>Copyright &copy;
            ArtDialog festival 2016</p>
        </td>
        <td style='height: 23.05pt; border: none' width=0 height=31></td>
      </tr>
      <tr height=0>
        <td width=19 style='border: none'></td>
        <td width=12 style='border: none'></td>
        <td width=138 style='border: none'></td>
        <td width=17 style='border: none'></td>
        <td width=83 style='border: none'></td>
        <td width=201 style='border: none'></td>
        <td width=19 style='border: none'></td>
        <td width=17 style='border: none'></td>
        <td width=148 style='border: none'></td>
        <td width=37 style='border: none'></td>
        <td style='border: none' width=0><p class='MsoNormal'>&nbsp;</td>
      </tr>
    </table>
    <p class=MsoNormal>&nbsp;</p>
  </div>
</body>
</html>